* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
  position: relative;
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: hotpink;
  margin: 15px 0;
}

.btn-group {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  position: absolute;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  background-color: hotpink;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ff6f91;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

button:active {
  transform: translateY(-1px);
}

button:nth-child(1) {
  margin-left: -200px;
  background-color: rgb(255, 105, 128);
}

button:nth-child(1):hover {
  background-color: rgb(255, 85, 108);
}

button:nth-child(2) {
  margin-right: -200px;
  background-color: cornflowerblue;
}

button:nth-child(2):hover {
  background-color: rgb(100, 149, 237);
}

img {
  display: block;
  margin: auto;
}

.bank-details {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.bank-details img {
  width: 100px;
  height: 50px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.account-info {
  margin-left: 10px;
}
